.tweet {
    background-color: #fefefe;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 3px solid gray;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 30px;
}

.tweet-board {
    background-color: #f0f0f0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 3px solid gray;
    margin-bottom: 10px;
}